.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Styling for the search bar + button */
#stockForm {
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }

  50% {
    transform: translate(0, 0) rotate(0eg);
  }

  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

/* App.css */

/* Styling for the entire container */
.fluid-container {
  background: radial-gradient(
      #a400ff 0,
      #3b3b3b 10%,
      #d6d2d200 15%,
      #0b243a 50%,
      #d6d2d2 65%,
      #26483f 80%,
      #d6d2d200 95%
    ),
    repeating-linear-gradient(45deg, #a78b4178, #a548a07a 50px),
    repeating-linear-gradient(135deg, #634610, #71b737 50px);
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: white;
  /* Text color */
  border: 10px solid transparent;
  border-image: url(assets/border-white.png) 30 round;
  animation: shaking 1s linear infinite;
}

/* Styling for the search bar */
.Form-control {
  background-color: #fff;
  /* White background for search bar */
  color: #333;
  /* Text color for search bar */
  border: 2px solid #3498db;
  /* Border color for search bar */
  border-radius: 4px;
  /* Rounded corners */
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

/* Styling for the search button */
button {
  background-color: #3498db;
  /* Blue background for search button */
  color: white;
  /* Text color for search button */
  border: none;
  border-radius: 4px;
  /* Rounded corners */
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

/* Style for the header */
h1 {
  font-size: 36px;
  margin-top: 20px;
}

/* Style for the JSON data display */
.data-display {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
  text-align: left;
  overflow: auto;
  max-height: 200px;
  color: black;
  /* Set text color to black */
}

.fluid-container {
  display: grid;
  grid-template-columns: 0.33fr 0.33fr 0.33fr;
  grid-template-rows: 1fr 0.5fr 0.8fr 1fr 1.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Top Top Top"
    "Ticker Name Description"
    "Prediction Prediction Description"
    "Prediction Prediction Articles"
    "Stock-Data Stock-Data Articles";
}

.Top {
  grid-area: Top;
}

.Name {
  grid-area: Name;
  border: 10px solid transparent;
  border-image: url(assets/border.png) 30 round;
}

.Ticker {
  grid-area: Ticker;
  border: 10px solid transparent;
  border-image: url(assets/border.png) 30 round;
}

.Description {
  grid-area: Description;
  border: 10px solid transparent;
  border-image: url(assets/border.png) 30 round;
}

.Prediction {
  grid-area: Prediction;
  border: 10px solid transparent;
  border-image: url(assets/border.png) 30 round;
}

.Articles {
  grid-area: Articles;
  border: 10px solid transparent;
  border-image: url(assets/border.png) 30 round;
}

.Stock-Data {
  grid-area: Stock-Data;
  border: 10px solid transparent;
  border-image: url(assets/border.png) 30 round;
}

.description-container {
  max-height: 400px; /* Set a maximum height */
  overflow-y: auto; /* Add a vertical scrollbar when content overflows */
}
